MDEIsolate.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "teams_1_Connection_Name": {
      "type": "string",
      "defaultValue": "teams"
    },
    "teams_1_Connection_DisplayName": {
      "type": "string"
    },
    "teams_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    },
    "wdatp_1_Connection_Name": {
      "type": "string",
      "defaultValue": "wdatp"
    },
    "wdatp_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "wdatpSPN"
    },
    "wdatp_1_token:clientId": {
      "type": "string",
      "metadata": {
        "description": "Client (or Application) ID of the Azure Active Directory application."
      }
    },
    "wdatp_1_token:clientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Client secret of the Azure Active Directory application."
      }
    },
    "wdatp_1_token:TenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application."
      }
    },
    "wdatp_1_token:resourceUri": {
      "type": "string",
      "defaultValue": "https://api.securitycenter.microsoft.com",
      "metadata": {
        "description": "The resource you are requesting authorization to use."
      }
    },
    "wdatp_1_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    },
    "image1_URL": {
      "type": "string"
    },
    "groupId": {
      "type": "string"
    },
    "channelId": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Post_adaptive_card_and_wait_for_a_response": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['teams']['connectionId']"
                  }
                },
                "body": {
                  "notificationUrl": "@{listCallbackUrl()}",
                  "body": {
                    "messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"body\": [\n        {\n            \"size\": \"Large\",\n            \"text\": \"Isolate Device on demand with MDE\",\n            \"type\": \"TextBlock\",\n            \"weight\": \"Bolder\"\n        },\n        {\n            \"type\": \"Image\",\n            \"url\": \"@{parameters('image1_URL')}\"\n        },\n        {\n            \"size\": \"Large\",\n            \"spacing\": \"Large\",\n            \"type\": \"TextBlock\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Device to isolate\"\n        },\n        {\n            \"type\": \"Input.Text\",\n            \"placeholder\": \"host to isolate\",\n            \"id\": \"ecIsolateDeviceInput\"\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Submit Isolation\",\n                    \"id\": \"ecSumitIsolation\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.Submit\",\n                    \"title\": \"Discard Isolation\",\n                    \"style\": \"destructive\",\n                    \"id\": \"ecDiscardIsolation\"\n                }\n            ]\n        }\n    ],\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.2\"\n}",
                    "updateMessage": "Processing request.",
                    "recipient": {
                      "groupId": "[parameters('groupId')]",
                      "channelId": "[parameters('channelId')]"
                    }
                  }
                },
                "path": "/v1.0/teams/conversation/gatherinput/poster/Flow bot/location/@{encodeURIComponent('Channel')}/$subscriptions"
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Post_adaptive_card_and_wait_for_a_response')['submitActionId']",
                      "ecSumitIsolation"
                    ]
                  }
                ]
              },
              "actions": {
                "Condition_2": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Machines_-_Get_single_machine": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['wdatp']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/api/machines/@{encodeURIComponent(body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput'])}"
                      },
                      "runAfter": {}
                    },
                    "Actions_-_Get_list_of_machine_actions": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['wdatp']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/api/machineactions",
                        "queries": {
                          "$filter": "machineId eq '@{body('Machines_-_Get_single_machine')?['id']}' and (type eq 'Isolate' or type eq 'Unisolate')",
                          "$top": 1
                        }
                      },
                      "runAfter": {
                        "Machines_-_Get_single_machine": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Post_message_in_a_chat_or_channel_3": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['teams']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "recipient": {
                            "groupId": "[parameters('groupId')]",
                            "channelId": "[parameters('channelId')]"
                          },
                          "messageBody": "<p><span style=\"color: rgb(209,72,65)\">Unable to Get Device Info for Device: </span><span style=\"color: rgb(209,72,65)\">@{body('Post_adaptive_card_and_wait_for_a_response')?['data']?['ecIsolateDeviceInput']}</span><span style=\"color: rgb(209,72,65)\">. Isolation Discarded</span></p>"
                        },
                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                      },
                      "runAfter": {
                        "Machines_-_Get_single_machine": [
                          "TimedOut",
                          "Skipped",
                          "Failed"
                        ]
                      }
                    },
                    "Condition_3": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@empty(body('Actions_-_Get_list_of_machine_actions')?['value'])",
                              "@true"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Actions_-_Isolate_machine": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['wdatp']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "Comment": "Automation - On Demand Isolation with Teams Adaptive Card - Initiated By @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}",
                              "IsolationType": "Full"
                            },
                            "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                          },
                          "runAfter": {}
                        },
                        "Post_message_in_a_chat_or_channel_4": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['teams']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "recipient": {
                                "groupId": "[parameters('groupId')]",
                                "channelId": "[parameters('channelId')]"
                              },
                              "messageBody": "<p>On Demand Unisolation - <span style=\"color: rgb(0,168,133)\">Successful</span><br>\nUnisolated Device: @{body('Machines_-_Get_single_machine')?['computerDnsName']}<br>\nInitiated By: @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}</p>"
                            },
                            "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                          },
                          "runAfter": {
                            "Actions_-_Isolate_machine": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "Actions_-_Get_list_of_machine_actions": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "For_each": {
                            "type": "Foreach",
                            "foreach": "@body('Actions_-_Get_list_of_machine_actions')?['value']",
                            "actions": {
                              "Condition_4": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@items('For_each')?['type']",
                                        "Isolate"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "Post_message_in_a_chat_or_channel_5": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['teams']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": {
                                        "recipient": {
                                          "groupId": "[parameters('groupId')]",
                                          "channelId": "[parameters('channelId')]"
                                        },
                                        "messageBody": "<p><span style=\"color: rgb(251,160,38)\">Device with Computer Name </span><span style=\"color: rgb(251,160,38)\">@{body('Machines_-_Get_single_machine')?['computerDnsName']}</span><span style=\"color: rgb(251,160,38)\"> is already Isolated. Exiting.</span></p>"
                                      },
                                      "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                    },
                                    "runAfter": {}
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Actions_-_Isolate_machine_2": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['wdatp']['connectionId']"
                                          }
                                        },
                                        "method": "post",
                                        "body": {
                                          "Comment": "Automation - On Demand Isolation with Teams Adaptive Card - Initiated By @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}",
                                          "IsolationType": "Full"
                                        },
                                        "path": "/api/machines/@{encodeURIComponent(body('Machines_-_Get_single_machine')?['id'])}/isolate"
                                      },
                                      "runAfter": {}
                                    },
                                    "Post_message_in_a_chat_or_channel_6": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                          }
                                        },
                                        "method": "post",
                                        "body": {
                                          "recipient": {
                                            "groupId": "[parameters('groupId')]",
                                            "channelId": "[parameters('channelId')]"
                                          },
                                          "messageBody": "<p>On Demand Isolation - <span style=\"color: rgb(0,168,133)\">Successful</span><br>\nIsolated Device: @{body('Machines_-_Get_single_machine')?['computerDnsName']}<br>\nInitiated By: @{body('Post_adaptive_card_and_wait_for_a_response')?['responder']?['userPrincipalName']}</p>"
                                        },
                                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                      },
                                      "runAfter": {
                                        "Actions_-_Isolate_machine_2": [
                                          "Succeeded"
                                        ]
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Post_message_in_a_chat_or_channel_2": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['teams']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "recipient": {
                              "groupId": "[parameters('groupId')]",
                              "channelId": "[parameters('channelId')]"
                            },
                            "messageBody": "<p><span style=\"color: rgb(209,72,65)\">No Device Input. Exiting.</span></p>"
                          },
                          "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Post_adaptive_card_and_wait_for_a_response": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Post_message_in_a_chat_or_channel": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "recipient": {
                          "groupId": "[parameters('groupId')]",
                          "channelId": "[parameters('channelId')]"
                        },
                        "messageBody": "<p><span style=\"color: rgb(209,72,65)\">Isolation Discarded. Exiting.</span></p>"
                      },
                      "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "image1_URL": {
              "type": "string"
            }
          },
          "triggers": {},
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('teams_1_Connection_Name'))]",
                "connectionName": "[parameters('teams_1_Connection_Name')]"
              },
              "wdatp": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wdatp')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('wdatp_1_Connection_Name'))]",
                "connectionName": "[parameters('wdatp_1_Connection_Name')]"
              }
            }
          },
          "image1_URL": {
            "value": "[parameters('image1_URL')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('teams_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('wdatp_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('teams_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"
        },
        "displayName": "[parameters('teams_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('teams_1_token:TenantId')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('wdatp_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'wdatp')]"
        },
        "displayName": "[parameters('wdatp_1_Connection_DisplayName')]",
        "parameterValues": {
          "token:clientId": "[parameters('wdatp_1_token:clientId')]",
          "token:clientSecret": "[parameters('wdatp_1_token:clientSecret')]",
          "token:TenantId": "[parameters('wdatp_1_token:TenantId')]",
          "token:resourceUri": "[parameters('wdatp_1_token:resourceUri')]",
          "token:grantType": "[parameters('wdatp_1_token:grantType')]"
        }
      }
    }
  ],
  "outputs": {}
}